@keyframes btn-loading {
  33% {
    content: "Analisando.";
  }
  66% {
    content: "Analisando..";
  }
  100% {
    content: "Analisando...";
  }
}

.btn-analyze {
  width: 206px;
  height: 54px;
  background-color: rgb(29, 29, 29, 80%);
  border: 1px solid rgba(128, 128, 128, 0.479);
  color: #b4b4b4;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;

  i {
    margin-bottom: -4px;
    margin-right: 2px;
    width: max-content;
    background-color: transparent;

    svg {
      width: max-content;
      height: 20px;

      path {
        fill: #b4b4b4;
      }

      circle {
        stroke: #b4b4b4;
      }

      rect {
        fill: transparent;
      }
    }
  }

  span {
    font-size: 20px;
    font-weight: normal;
  }
}

.btn-analyze.btnLoading {
  i::before {
    font-size: 16px;
    font-weight: normal;
    content: "Analisando";
    cursor: progress;
    animation: btn-loading 2s alternate infinite;
  }

  span,
  svg {
    display: none;
  }
}

.btn-analyze.hide-btn {
  opacity: 0.5;
  cursor: default;
}

@media (max-width: 500px) {
  .btn-analyze {
    width: 186px;
    height: 47px;

    span {
      font-size: 16px;
    }
  }
}
