.numbers-container {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(29, 29, 29, 80%);
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: all .4s ease-in-out;
  align-items: center;

  ul {
    width: 85%;
    height: 40px;
    color: white;
    display: flex;
    column-gap: 18px;
    font-weight: bold;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      font-size: 2rem;
      user-select: none;
      -webkit-user-select: none;
      scroll-snap-align: center;
      scroll-behavior: smooth;
      scroll-snap-stop: always;

      &::after {
        content: "-";
        margin-left: 18px;
      }

      &:nth-last-child(1) {
        &::after {
          content: "";
        }
      }
    }
  }

  button {
    visibility: visible;
    background: transparent;
    height: 40px;
    text-align: center;
    cursor: pointer;
    z-index: 0;

    svg,
    path {
      height: max-content;
      width: 40px;
      fill: white;
    }
  }

  button.hide {
    visibility: hidden;
  }
}

.numbers-container.hide-container {
  bottom: -56px;
}

@media (max-width: 769px) {
  .numbers-container {
    bottom: auto;
    top: 0;

    ul {
      column-gap: 15px;
      width: 80%;

      li {

        &::after {
          margin-left: 15px;
        }
      }
    }
  }

  .numbers-container.hide-container {
    top: -56px;
    bottom: auto;
  }
}