.rules-container {
  position: absolute;
  left: 0;
  top: -51px;
  height: 80px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  transition: all 0.4s ease-in-out;

  .rule-list {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(29, 29, 29, 80%);
    border-bottom: 1px solid hsl(0, 0%, 50%, 30%);

    li {
      user-select: none;
      -webkit-user-select: none;
      display: flex;
      column-gap: 5px;

      svg,
      path {
        visibility: hidden;
        margin-top: -3px;
        height: 20px;
        width: 20px;
        fill: green;
      }
    }

    p {
      font-size: 12px;
      font-weight: bold;
      color: white;
      text-shadow: 1px 1px rgb(0, 0, 0);
    }
  }

  .rule-confirm {
    svg {
      visibility: visible;
    }

    p {
      color: green;
    }
  }
}

.btn-show-hide-rules {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 0 0 10px 0;
  background-color: rgb(29, 29, 29, 80%);
  padding-bottom: 8px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.247);
  width: 150px;
  height: 80px;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  svg {
    width: 20px;
    height: 20px;
    margin-bottom: -2px;
    margin-right: 2px;
    stroke: none;

    path {
      stroke: white;
    }
  }

  &::after {
    content: "";
    width: 150px;
    height: 30px;
    border-radius: 0 0 10px 0;
    border: 1px solid hsl(0, 0%, 50%, 30%);
    border-top: none;
    border-left: none;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  span {
    font-size: 0.8rem;
    color: gray;
  }
}

.rules-container.showHide {
  top: 0;
}

@media (max-width: 1124px) {
  .rules-container {
    right: -284px;
    left: auto;
    top: 0px;
    height: 400px;
    width: 300px;
    flex-direction: column;
    align-items: end;

    .rule-list {
      width: 283px;
      height: 300px;
      padding-left: 10px;
      flex-direction: column;
      justify-content: space-evenly;
      border-radius: 0 0 0 10px;
      border-left: 1px solid hsl(0, 0%, 50%, 30%);
      align-items: start;
    }

    .btn-show-hide-rules {
      justify-content: flex-start;
      align-items: center;
      border-radius: 0 0 0 10px;
      padding-bottom: 0;
      padding-left: 25px;
      width: 400px;
      height: 35px;

      &::after {
        width: 116px;
        height: 35px;
        border-radius: 0 0 0 10px;
        border: 1px solid hsl(0, 0%, 50%, 30%);
        border-right: none;
        left: 0;
      }

      svg {
        margin-bottom: 0px;
      }
    }
  }

  .rules-container.showHide {
    right: 0;
  }
}
