.msg-container.show {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 762px;
  height: 508px;
  border-radius: 10px;
  color: #ffffff;
  background-color: hsl(0, 0%, 85%, 10%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;

  button {
    margin: 25px;
    align-self: flex-end;
    background-color: transparent;
    cursor: pointer;

    svg, path {
      width: 30px;
      height: 30px;
      stroke: #fff;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 34px;

    li {
        user-select: none;
        -webkit-user-select: none;
        font-size: 25px;
    }
  }
}

.msg-container.hidde {
    display: none;
}
