.form-get-Numbers {
  width: 560px;
  height: 52px;
  background-color: rgb(29, 29, 29, 80%);
  border: 1px solid rgba(128, 128, 128, 0.479);
  margin: 80px auto;
  border-radius: 50px;
  display: flex;
  align-items: center;

  input {
    background-color: transparent;
    color: #818181;
    margin-left: 25px;
  }

  input::placeholder {
    user-select: none;
    -webkit-user-select: none;
  }

  label,
  svg, path {
    width: 30px;
    height: 30px;
    fill: green;
    margin-right: 15px;
  }

  label.hidde-lable{
    visibility: hidden;
  }

  .submit {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
  }

  .get-number {
    font-size: 1.2rem;
    letter-spacing: 2px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .form-get-Numbers {
    width: 380px;
    height: 47px;
    margin: 80px auto;

    input {
      margin-left: 15px;
    }

    .get-number {
      font-size: 1.1rem;
    }
  }
}
