.numbers-container {
  position: absolute;
  bottom: 0;
  background-color: rgb(29, 29, 29, 80%);
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    position: relative;
    width: 80%;
    height: 40px;
    overflow: hidden;
      
    &::-webkit-scrollbar{
    display: none;
    }

    ul {
      color: white;
      display: flex;
      justify-content: center;
      column-gap: 18px;
      font-weight: bold;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 100%;
      width: max-content;
      transition: all 1s ease-in-out;

      li {
        font-size: 2rem;
        user-select: none;
        -webkit-user-select: none;
  
        &::after {
          content: "-";
          margin-left: 18px;
        }
  
        &:nth-last-child(1) {
          &::after {
            content: "";
          }
        }
      }
    }

  }

  button {
    visibility: visible;
    background: transparent;
    height: 40px;
    text-align: center;
    cursor: pointer;

    svg,
    path {
      height: max-content;
      width: 40px;
      fill: white;
    }
  }

  button.hidde{
    visibility: hidden;
  }
}